body {
    margin: 0%;
    background-color:#202020;
}


.d-flex {
    display:flex;
    text-align: center;
    
}
.pl123{
    color: white;
    margin-top: 170px;
    
}
h1{
    color: white;
    margin-left: 300px; 
}
p{
    color: gray;
    margin-left: 300px;
}
.wveriani{
    border-radius: 50%;
    margin-left: 800px;
    margin-top: -300px;
    max-width: 60rem;
    min-height: auto;
  }
  .border{
      border-style:none;
      border-width: 5px;
      background-color: #9D9D9D;;
      width: 230px;
      margin-left: 300px;
      height: 40px;
      border-radius: 4px;
      text-align: center;
      
  }
i{
    color:#FFFFFF;
    padding-top: 10px;
}
.ptap{
    
    color: gray;
    margin-left: 300px;
    font-size: 20px;
   gap: 4px;
}

.secondi{
left: 96px;
margin-top: 100px;
}
.grid-container{
display: grid;
gap: 10px;
margin-left: 400px;

}
.grid-contain{
    display: grid;
     gap: 10px;
     margin-left: 940px;
     margin-top: -1400px;
   
    }

.div-conatiner{
    display: grid;
   grid-template-columns: 1fr 1fr 5fr;
    margin-left: 400px;
gap: 20px;
}

.h1tag{
  padding: 100px;
  margin-left: 750px;
}
.div-conatiner .item1{
    width: 356px; 
    
}
.div-conatiner .item2{
    width: 354px; 
}
.div-conatiner .item3{
width: 350px;
}
.div-conatiner .item4{
    width: 348px;
}
.div-conatiner .item5{
    width: 353px;
}
.div-conatiner .item6{
    width: 357px;
}
     
.cont{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    text-align: center;
    justify-content: center ;
}
.cont .thing1{
    width: 491px;
}
.cont .thing2{
    width: 479px;
}
.cont .thing3{
    width:482px ;
}
.contact{
    margin-left: 500px;
  
}
.border1{
    border-style:none;
    border-width: 5px;
    background-color: #9D9D9D;;
    width: 230px;
    margin-left: 300px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
}
.footer {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #302c2c;
    color: white;
   height: 50px;
 }
 .footer div.b{
    margin-left: 1500px;
    justify-content: space-between;
    
}
.container{
    width: auto;
height: auto;

}
.avatar{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    margin-left: 180px;
    width: 80%;
}