body {
    margin: 0%;
}
/* global styles*/
.container {
    width: 992px;
    margin-inline: auto;
}
.d-flex {
    display:flex
    
}
@media screen and (max-width: 992px) {
    .container {
        width: 768px;
    }
}
@media screen and (max-width: 786px) {
    .container {
        width: 576px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        
    }
}