header {
    background-color: rgba(50, 50, 50, 0.7);
    height: 75px;
    align-items: center;
}
header .logo {
    height: 60px;
width: 60px;
margin-left: 400px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
nav a:hover{
    text-decoration: underline;
}
header .container{
    align-items: center;
}
nav{
    width: calc(100% - 60px);
    justify-content: space-between ;
    display: flex;
}


header .mobile {
    display: none;
}
.links{
    margin-left: 700px;
}
