header {
    height: 70px;
    background-color: rgba(50, 50, 50, 0.7);
    width: 100%;
}

header .logo {
    width: 45px;
    height: 45px;
    padding-left: 400px;
}


header .container {
    align-items: center;
}


nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}
.regandauth{
    margin-left: 400px;
}