@import './header.css';
@import './auth.css';
@import './body.css';
@import './positions.css';
@import './notification.css';
@import './reg.css';
@import './search\ bar.css';
@import './side\ nav.css';
@import './card.css';
.welcome-container{
    padding-block: 30px;
    background-color: rgb(44, 44, 50);
}


.welcome-container .container {
display: grid;
grid-template-columns: 1fr minmax(0, 2fr);
}

.welcome-container .img-prev {
    width: 500px;
    margin-left: 140px;
    
}

.welcome-container h1{
    color: white;
}

.welcome-container h1 span{
    font-weight: normal;
}
.welcome-container .container div:first-child {
text-align: center;
}

.welcome-container .container p{
    color: rgba(255, 255, 255,.6);
}

.welcome-container .download-container {
    background-color: dodgerblue;
    color: white;
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 58px;
   
}
.welcome-container h6{
    margin: 0;
    font-size: 23px;
}
.welcome-container .download-container > div:last-child{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.welcome-container .download-container > div:first-child{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: solid rgb(44, 44, 50) ;
}
/* tooltip css */

.tooltip-container{
    font-size: 14px;
    background-color: rgb(37 37 43);
    padding-block: 7px;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;

}
.tooltip-container::after{
    content: '';
background-color: rgb(37 37 43);
height: 15px;
width: 15px;
display:block;
transform: rotate(45deg);
position:absolute;
right: 13px;
top: -7px;
}
.tooltip-container p{
    margin: 0;
}
.tooltip-container a{
    color:dodgerblue;
    text-decoration: none;
}
.rules-container{
    font: size 12px;
    margin-top: 15px;
}
.rules-container p{
margin: 0;
}
.rules-container a{
    text-decoration: none;
    color: dodgerblue;

}
.features-container{
    text-align: center;
}
.features-container .container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.features-container i{
    font-size: 75px;
    margin-bottom: 15px;
}
.features-container .container > div {
    padding-block: 30px;
}
.features-container .container > div:hover{
    background-color: rgb(227 227 227);
}
.features-container .container > div:first-child:hover i{
    color: green;
}
.features-container .container > div:nth-child(2):hover i{
    color: firebrick;
}
.features-container .container > div:nth-child(3):hover i{
   color: gold; 
}
.features-container .container > div:nth-child(4):hover i{
    color: orange;
}
.testimonials-section > div{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 15px;
}
.testimonials-section > div .arrow{
    position: absolute;
    font-size: 48px;
    top: 80px;
    cursor: pointer;
}
.testimonials-section > div .arrow.fa-arrow-left {
    left: -50px;
}

.testimonials-section > div .arrow.fa-arrow-right {
    right: -50px;
}
section {
    padding-block: 60px;
}
section:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}
.info-section > div{
    display: flex;
    align-items: center;
    gap: 30px;
}
.info-section > div div:first-child{
    width: 35%;
}
.info-section:nth-child(odd) > div div:first-child {
    order: 2;
}
.info-section:nth-child(odd) > div div:last-child {
    order: 1;
}
.external-langs h1{
text-align: center;
}
.external-langs .d-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 15px;
}
.external-langs .external-link{
    display: block;
    color: dodgerblue;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.external-langs .btn{
    display: flex;
    background-color: dodgerblue;
    text-decoration: none;
    align-items: center;
    width: 200px;
    height: 50px;
justify-content: center;
margin: auto;
}
.download-section .container{
   
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    
}
.download-section .container .windows{
  font-size: 100px;
  margin-left: 150px;
  display: block;
}
.download-section .container .windows-div .button{
    display: flex;
    background-color: dodgerblue;
    text-decoration: none;
    align-items: center;
    width: 200px;
    height: 50px;
justify-content: center;
margin: auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .download-section .container .windows-div .download{
        margin: auto;
    }
    .download-section .container .windows-div .table1{
       
  border-collapse: collapse;
  width: 100%;
}
td, th {
   
    text-align: left;
    padding: 8px;
    border-style: none
     }
     .download-section .container .windows-div .table1 a{
         background-color: dodgerblue;
         text-decoration: none;
         color: white;
     }
.info-section .container .big-img{
    width: 400px;
}
            
    