div.absolute {
    position: absolute;
    width: 397px;
    height: 500px;
    border: 3px solid #73AD21;
margin: 289px;
top: 50px;
left: -190px;
}

img.absolute{
    position: absolute;
    top: 50px;
    left: -190px;
    margin: 289px;
}

a{
    position: absolute;
     top: 523px;
    left: -40px;
    margin: 289px;
   
}
body{
    min-height: 200vh;
}

div1.absolute {
    position: absolute;
    width: 397px;
    height: 500px;
    border: 3px solid #73AD21;
margin: 289px;
top: 50px;
left: 400px;
}

img{
    margin: 334px;
  margin-left: 684px;

}

a{

}