.auth-form-container {
    width: 300px;
    height: 700px;
    border: 2px solid #ccc;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.auth-form-container .text-input-label {
    display: block;
    margin-bottom: 5px;
}

.auth-form-container .text-input,
.auth-form-container .locations {
    height: 35px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
}

.auth-form-container .locations {
    background-color: white;
}

.form-group {
    margin-bottom: 15px;
}

.w-100 {
    width: 100%;
}

.mb-15 {
    margin-bottom: 15px;
}

.btn {
    display: block;
    font-size: 16px;
    height: 35px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--blue);
    color: white;
}

.btn-link {
    text-decoration: none;
    line-height: 35px;
    color: var(--violet);
}
.btn-link:hover {
    text-decoration: underline;
}

.sex-container {
    display: inline-block;
}

.body-container {
    padding: 30px 0;
    min-height: calc(100vh - 70px - 60px);
    box-sizing: border-box;
}
.btn-primary{
    color:white;
}
.submit-button{
    display: block;
    width: 100%;
    height: 35px;
    border: 0;
    cursor: pointer;
    background-color: rgb(107, 107, 218);
    color: white;
    margin-bottom: 15px;
    }